# This is only needed when uploading content automatically to your R2 bucket. Otherwise, the env file is NOT used

R2_ACCOUNT_ID=<id> # This has to be the user account hash in your R2 Dashboard URL
R2_ACCESS_KEY_ID=<id> # Create an API token for the rest of the IDs
R2_SECRET_ACCESS_KEY=<secret-access-key>
R2_BUCKET_NAME=name
